:root {
  --primary-color-one: #078586;
  --menu-active-color: #078586;
  --primary-color-two: #282f3b;
  --heading-dark: #282f3b;
  --link-color-dark: #282f3b;
  --menu-color: #282f3b;
  --menu-dropdown-color: #282f3b;
}

.primarg_bg_color {
  background: var(--primary-color-one) !important;
  background-color: var(--primary-color-one) !important;
}

.primarg_border_color {
  border-color: var(--primary-color-one) !important;
}

.footer_seven {
  padding-top: 80px;
}
.slide h1 {
  color: #fff;
  font-size: 3em;
  margin-bottom: 20px;
}

.slide ul {
  list-style: none;
  padding: 0;
}

.slide ul li {
  color: #fff;
  background:rgba(40, 47, 59, 0.7);
  padding: 12px 35px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 1.2em;
  position: relative;
  transition: background 0.3s ease;
}

/* .slide ul li::before {
  content: '✓';
  position: absolute;
  left: 10px;
  color: #2ecc71;
  font-weight: bold;
} */

.slide ul li:hover {
  background: rgba(255, 255, 255, 0.2);
}
.slide ul li::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 4px;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--primary-color-one);
}

.style_page_thirteen .slide-item-content .slider_content ul li {
  display: block;
  padding-right: 30px;
  width: 70%;
  margin-left: 12%;
}
.banner_carousel {
  height: 500px !important;
  overflow: hidden;
}

.banner_carousel .owl-stage-outer,
.banner_carousel .owl-stage,
.banner_carousel .owl-item,
.banner_carousel .owl-item > div {
  height: 500px !important;
}